/* HEADER */
.console-header {
  position: relative;
  padding: 10px 14px;
  border-bottom: 1px solid #2a2f3a;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* DOTS */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

/* CENTER TITLE */
.console-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  font-family: monospace;
  color: #cbd5f5;
}
