<!-- HEADER LINE -->
<div class="log-line">

  <span class="timestamp">
    [{{ log.timestamp }}]
  </span>

  @if (log.type === 'request') {
    <span class="request">
      &gt; {{ log.method }} {{ log.apiUrl }}
    </span>
  }

  @if (log.type === 'response') {
    <span class="response">
      &lt; {{ log.status }} Accepted
    </span>
  }

  @if (log.type === 'error') {
    <span class="error">
      &lt; Network Error or CORS Issue
    </span>
  }

</div>

<!-- MESSAGE BOX -->
@if (log.payload) {
  <div
    [ngClass]="{
      'log-success': log.type === 'response',
      'log-error': log.type === 'error'
    }"
    class="log-box">

    <pre>
{{ log.payload | json }}
    </pre>

  </div>
}
